# Telnet Service Configuration
TELNET_HOST=<YOUR_TELNET_HOST>
TELNET_PORT=<YOUR_TELNET_PORT>
TELNET_USERNAME=<YOUR_TELNET_USER>
TELNET_SECRET=<YOUR_TELNET_SECRET>

# Database Configuration
DB_HOST=<YOUR_DB_HOST>
DB_USERNAME=<YOUR_DB_USER>
DB_PASSWORD=<YOUR_DB_PASS>
DB_NAME=<YOUR_DB_NAME>
DB_PORT=<YOUR_DB_PORT>